# Byte-compiled / optimized / DLL support
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tests / coverage reports
htmlcov/
.tox/
.nosexy/
.nosetests/
.pytest_cache/
venv/
.venv/
ENV/
env/

# SQLite databases and App runtime lock
*.db
*.lock

# User backups and temporary data created by the app
backups/
temp/

# OS metadata
Thumbs.db
EHthumbs.db
Desktop.ini
$RECYCLE.BIN/
